/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #1b1a1a;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar ul li:nth-child(1){
    background-color: #2f20dc;
    color: #fff;
    border-radius: 5px;
}
.create{
   color: #fff;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.home header{
    height: 60px;
    width: 99%;
    position: sticky;
    top:0;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row-reverse;
    border-bottom:2px solid var(--text-color);
    margin: auto;
}
.profile{
    display: flex;
    height:100%;
    width: 250px;
    justify-content:center;
    align-items: center;
   
}
.home header .profile-logo{
    height:70%;
    width:16%;
    border-radius: 50%;
    background-color: #18191a;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-logo p{
    font-size:25px
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* responsive sidebar end */

.url-form{
    height:auto;
    width:90%;
    /* border:2px solid green; */
    margin: auto;
    background: var(--sidebar-color);
}
.url-form .form{
    width:90%;
    /* border:2px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
}
.form .input{
    height:50px;
    background-color: var(  --toggle-color) ;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
  
}
.form h1{
    color:var(--text-color);
    padding-top: 10px;
}
.form label{
    font-weight:bold;
    color: var(--text-color);
    margin-top: 20px;
}
.form div button{
    padding:10px 30px;
    border-radius: 5pxx;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    
}
.submit-btn{
    padding:10px 30px;
    border-radius: 5pxx;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px; 
}
.submit-btn{
background-color: #2f20dc;
    color: white;
}
.qr-form{
    height:auto;
    width:90%;
    display: flex;
    margin: auto;
    background: var(--sidebar-color);
    margin-top: 10px; 
}
.qr-form .form{
    width:60%;
    /* border:2px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.qr-code-view{
   height:370px;
   width:400px;
   /* border:2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qr-code-view .img{
    height:60%;
    width:60%;
    margin-top: 20px;
    background-color: var(--toggle-color);
    
}
.qr-code-view h2{
    color:var(--text-color)
}
.qr-code-view .img img{
    height: 100%;
    width:100%;
}

/*========================
      responsive
=========================*/

/* ======================
    responsive mobile
========================*/
@media only screen and (min-width: 300px) and (max-width: 540px) {
    .qr-form{
        height:auto;
        width:90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background: var(--sidebar-color);
        margin-top: 10px; 
    }
    .qr-form .form{
        width:95%;   
        display: flex;
        flex-direction: column;  
    }
    .qr-code-view{
        height:370px;
        width:95%;
       display: flex;
       flex-direction: column;
     }

}

/* ======================
    responsive tablet
========================*/
@media only screen and (min-width: 541px) and (max-width: 720px) {
    .qr-form{
        height:auto;
        width:90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background: var(--sidebar-color);
        margin-top: 10px; 
    }
    .qr-form .form{
        width:95%;   
        display: flex;
        flex-direction: column;  
    }
    .qr-code-view{
        height:370px;
        width:95%;
       display: flex;
       flex-direction: column;
     }

}

