*{
    font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color:rgb(112, 122, 128) */
}
body{
    background-color: white;
    box-sizing: inherit;
    
}
#parent{
    width: 82%;
    background-color: white;
    margin: auto;
}

#navbar{
    background-color: white;
    display: flex;
    align-items: center;
    height: 70px;
    width: 81%;
    position: fixed;
    /* border:1px solid blue; */
    margin-top:-10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color:rgb(112, 122, 128)
}
#navbar-left{
    width: 100px;
    height: 60%;
    /* border:1px solid green; */
    margin-right: 100px;
}
#logo{
    width: 100%;
}
/* -------------------dropdown navbar menu------> */
#nav-mid{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    gap: 20px;
    margin-right: 110px;
}
.ddmenu {
  /* color: black; */
  padding: 1px;
  /* font-size: 13px; */
  border: none;
  background-color:white ;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1px;
  border-radius: 5px;
  padding: 5px 50px 25px 25px;
  margin-left: -45px;

}

.dropdown-content>div {
  color: black;
  padding: 12px;
  text-decoration: none;
  height: 40px;
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color:rgb(112, 122, 128)
  /* border: 1px solid teal; */
}
.dropdown-content>div img {
    margin-top: 5px;
    width: 20%;
}
.content{
    /* border: 1px solid teal; */
    width: 100%;
    margin-left: -80px;
}
.content h4{
    margin-top: 0px;
    color: rgb(91, 89, 89);
    font-weight: 600;
}
.content h5{
    margin-top: -20px;
}

.dropdown-content div:hover {background-color:#ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .ddmenu{color:#2A5BD7;cursor: pointer;}
.ddmenu:hover{border: #2A5BD7;}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}
#navbar-right{
    display: flex;
    gap:40px;
    /* border:1px solid green; */
    height: 100%;
    align-items: center;
}
#navbar button:hover{
    color:#2A5BD7;
    cursor: pointer;
}
#space-navbar{
    height: 70px;
}
#carousel{
    width: 100%;
    height: 565px;
    /* border: 1px solid red; */
    display: flex;
    font-size: 35px;
    font-weight: 800;
    Line-height: 48px;
    color: rgb(37, 38, 40);
    margin: auto;
    align-items: center;
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
#carousel div{
    width: 50%;
    /* border: 1px solid green; */
    margin-left: 5px;
}
#carousel img{
    width: 230%;
    height: 100%;
    margin-left: -600px;
}
#quote{
    font-size: 16px;
    font-weight: 400;
    margin: 10%;
    margin-top: -5px;
}
#platform{
    width: 100%;
    height: 780px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
#platform-head{
    margin: auto;
    width: 60%;
    height: fit-content;
}
#tabs{
    display: flex;
    gap: 10px;
}
#tabs>div{
    width: 31%;
    height: 580px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}
.content-padding{
    line-height: 36px;
    padding:10px
}
.content-padding p { 
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color:rgb(112, 122, 128);
}
.content-padding li { 
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    color:rgb(112, 122, 128);
    text-align: start;
}

.headline{
    display: flex;
    margin-top: 30px;
    text-align: center;
}
.headline img{
    margin-top: 15px;
    margin-right: 25px;
}
.button-wide{
    width: 100%;
    height: 40px;
    background-color: #2A5BD7;
    border-radius: 10px;
    color: white;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

#shorten-link{
    width: 123.2%;
    margin-left:-132px;
    height: 130px;
    background-color: #0B1736;
    align-items: center;
    text-align: center;
}
#shorten-link>div{
    display: flex;
    margin: auto;
    align-items: center;
    width: 80%;
    height: 80%;
    gap: 70px;
}
#shorten-link p {
    color:rgb(139, 141, 143);
    margin: auto;
    margin-top: -10px;
}


#shorten-link-btn{
    background-color: #1B3987;
    border: none;
    border-radius: 5px;
    /* width: 25%;
    height: 60px; */
    padding: 20px 110px;
    text-align: center;
    color: white;
    font-size: large;
    align-items: center;
}
#share-your-link-input{
    background-color: white;
    border: white;
    padding: 10px;
    border-radius: 10px;
    width: 66%;
    height: 40px;
    font-size: large;
}
#details{
    width: 123.2%;
    margin-left:-132px;
    height: 590px;
    display: grid;
    justify-content: end;
}
#details img{
    width: 99%;
    margin: auto;
}

#brands{
    width: 80%;
    height: 230px;
    text-align: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;

}
#brands h1{
    margin-top: 100px;
}
#brands-img{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(5,1fr);
}

#link{
    width: 123.2%;
    margin-left:-132px;
    height: 280px;
    background-color: #0B1736;
    border: 1px solid #0B1736;
}

#link>div{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 80%;
    color: white;
    font-weight: 700;
    /* border: 1px solid green; */
}
#link button{
    margin-top: 20px;
    background-color: #2A5BD7;
}

#footer{
    width: 100%;
    height: 465px;
    border: 0px solid red;
    display: flex;
    gap: 20px;
}
.footerhead{
    width: 18%;
    margin-top: 50px;
}
.footer{
    font-size: 14px;
}
.footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 8px;
    color:rgb(112, 122, 128)
}
.footer img{
    width: 40%;
    margin-top: 20px;
}
.footer p{
    font-size: 13px;
    line-height: 18px;
}
#social-media-links{
    display: flex;
    gap: 15px;
    margin-top: -15px;
}
#social-media-links img{
    width: 10%;
}



